@model IEnumerable<SMS_Sender.DATA.Models.Recipients>
@{
    Layout = null;
}
@if (Model.Any())
{
    <table class="table table-striped" id="recipientsList">
        <thead>
            <tr>
                <th>
                    Poslati
                </th>
                <th>
                   Ime i prezime
                </th>
                <th>
                  Broj Mobitela
                </th>
            </tr>
        </thead>
        <tbody>


            @foreach (var item in Model)
            {
                <tr>

                    <td class="checkRecipient">
                        <input type="checkbox"  style="height:20px;width:20px;" name="checkRecipient" />
                    </td>
                    <td class="NameAndSurName">
                        @Html.DisplayFor(modelItem => item.NameAndSurname)
                    </td>
                    <td class="MobileNumber">
                        @Html.DisplayFor(modelItem => item.MobileNumber)
                    </td>

                </tr>
            }
        </tbody>
    </table>

}
else
{


    <div class="d-flex justify-content-center mt-3">

        <div class="alert alert-info text-center">
            Trenutno nema primatelja u bazi podataka!
        </div>


    </div>

    @*<div class="row">




        <div class="col-6 ">
            
        </div>

    </div>*@

}