
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header">
                    Autor: Kristijan Mihalinec
                </div>
                <div class="card-body">
                    <p class="text-center" >Prijava za radno mjesto: Software Developer (m/ž) – sve razine iskustva (Junior/Mid/Senior)</p>
                    <p style="font-weight:bold" class="text-center" >Aplikacija Demo</p>
                    <p class="text-center">
                        Aplikacija i izrađena u svrhu prijave za gore navedenu poziciju.
                    </p>
                    <p>
                         Korištene tehnologije su: C#, SQL Express, ASP.NET Core MVC, Entity FrameWork, jQuery, Bootstrap, CSS, HTML.<br />
                         Korišten je javascript library sweetalert.js za obavijesti kod grešaka ili uspješnih akcija.<br />
                         Umjesto ispisa greške ako ne postoji mapa "sms", implementiran je uvjet da se u tom slučaju mapa <br />
                         kreira zbog bolje korisničkog iskustva(smanjenje mogućih grešaka).<br />
                         Kod unosa poruke je onemogućeno upisivanje više od 160 znakova stoga <br />
                         nema ispisa greške ako je prekoračen broj znakova(ne može biti prekoračen).
                    </p>
                   
                </div>
                <div class="card-footer text-muted">
                    17.03.2020.
                </div>
            </div>
        </div>
    </div>
</div>